body {
    font-size: 0.875rem;
}

/* Feather icons */
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Light gray background */
}

/* Adjust sidebar for smaller screens */
@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
        width: 100%;
        position: absolute;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content */
}

/* Sidebar links */
.sidebar .nav-link {
    font-weight: 500;
    color: #19692c; /* Dark green */
    transition: color 0.3s ease-in-out;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #3b443f; /* Dark gray */
}

/* Active link */
.sidebar .nav-link.active {
    color: #24dc71; /* Bright green */
}

/* Hover and active states */
.sidebar .nav-link:hover,
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: #147a2b; /* Slightly darker green */
}

/* Sidebar heading */
.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    color: white;
}

/* Navbar button */
.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

/* Navbar search bar */
.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* Improve accessibility */
.sidebar .nav-link:focus,
.navbar .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(36, 220, 113, 0.5); /* Green focus outline */
}

